@charset "UTF-8";

@import "variables";

/* 共通部分 -------------------------------------------------------------------- */ 
html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #333;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
h1, h2, h3, p, ul {
  margin: 0;
}
ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $main-blue;
    text-decoration: none;
  }
}
i {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  &:hover {
    color: $main-blue;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
td:hover {
  color: $main-blue;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.section {
  padding-top: 100px;
  padding-bottom: 140px;
  h2 {
    color: $main-blue;
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 6px;
    padding: 20px 0 40px 0;
    transition: 1s;
    -webkit-transition: 1s;
  }
}
.bgcBlack {
  background-color: black;
}
.bgcWhite {
  background-color: rgb(240, 240, 240);
}
hr {
  background-color: $main-blue;
  border: none;
  height: 2px;
  width: 20%;
}
.markerBlue {
  background: linear-gradient(transparent 82%, $main-blue 0%);
}
.fadein {
  opacity: 0;
  transition: all 2.5s;
  -webkit-transition: all 2.5s;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

/* Parallax -------------------------------------------------------------------- */
.parallaxBg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8%;
}
.imgBg01 {
  background-image: url(../images/slide-1.jpg);
}
.imgBg02 {
  background-image: url(../images/slide-2.jpg);
}
.imgBg03 {
  background-image: url(../images/slide-3.jpg);
}
.imgBg04 {
  background-image: url(../images/slide-4.jpg);
}

/* Slideshow -------------------------------------------------------------------- */
.slideshow {
  height: 960px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  img {
    display: none;
    object-fit: cover;
    position: absolute;
  }
}
.slideshowSmall {
  display: none;
}

/* Hero header -------------------------------------------------------------------- */
.heroHeader {
  position: relative;
}
.pageTitle {
  background-color: none;
  position: absolute;
  top: -420px;
  h1 {
    font-size: 6rem;
    padding-bottom: 20px;
  }
  span {
    color: $main-blue;
  }
  p {
    font-size: 2.2rem;
  }
}
.btnTop {
  background-color: $main-blue;
  border: none;
  font-size: 1.6rem;
  margin-top: 30px;
  width: 130px;
}

/* スクロールダウン --------------------------------------------------------------------　*/
.arrowWrap {
  height: 200px;
  position: absolute;
  top: -300px;
}
.arrowInner p {
  font-size: 1.4rem;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.arrow {
  background-color: $main-blue;
  height: 100px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  width: 1px;
  &::before {
    animation: arrow 2.5s ease 0s infinite normal;
    -webkit-animation: arrow 2.5s ease 0s infinite normal;
    background-color: black;
    content: '';
    height: 100px;
    margin: 50px auto;
    position: absolute;
    top: -150px;
    width: 1px;
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

/* Sticky header --------------------------------------------------------------------　*/
.pageHeader {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #333;
  width: 100%;
}
/* Logo */
.siteLogo {
  float: left;
  img {
    padding-left: 5px;
    position: relative;
    top: 15px;
  }
}
.siteLogoSmall {
  display: none;
}
/* Primary nav */
.primaryNav {
  float: right;
  letter-spacing: 1px;
  line-height: 65px;
  text-transform: uppercase;
  li {
    float: left;
  }
  a {
    display: block;
    padding: 0 21px;
    &:hover {
      color: $main-blue;
    }
  }
}

/* Sticky header (clone) */
.pageHeaderClone {
  background-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  opacity: .9;
  position: fixed;
  top: -35px;
  transition: top 0.25s;
  -webkit-transition: top 0.25s;
  width: 100%;
  z-index: 30;
  &:hover {
    opacity: 1;
  }
  &.visible {
    top: 0;
  }
  .siteLogo {
    margin-left: 8px;
    a {
      height: 32px;
      display: block;
      overflow: hidden;
      width: 143px;
      &:before {
        content: url(../images/logo-small.png);
        display: inline-block;
        position: relative;
        top: 1.5px;
      }
    }
  }
  .primaryNav {
    font-size: 1.4rem;
    line-height: 35px;
    a {
      color: $sub-gray;
      &:hover {
        color: $main-blue;
      }
    }
  }
}

/* ハンバーガーメニュー --------------------------------------------------------------------　*/
.toggle {
  display: none;
}
  
/* about --------------------------------------------------------------------　*/
#about {
  padding-bottom: 0;
  padding-top: 100px;
}
.imageBox {
  height: 230px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  width: 150px;
}
.image {
  display: block;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}
.imageBorder {
  border: 8px $main-blue solid;
  height: 230px;
  left: 25px;
  position: absolute;
  top: 25px;
  width: 150px;
}
.textBox {
  height: 230px;
  padding: 10px;
  h3 {
    font-size: 2.8rem;
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@mixin about-img {
  height: 500px;
  object-fit: cover;
}
.sectionAbout01 {
  margin: 0 0 0 calc(50% - 50vw - 15px);
  transition: 1.5s;
  -webkit-transition: 1.5s;
  span {
    text-align: right;
  }
  img {
    @include about-img;
  }
}
.sectionAbout02 {
  margin: 0 calc(50% - 50vw - 15px) 0 0;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  tr {
    font-size: 2.8rem;
    line-height: 60px;
  }
  img {
    @include about-img;
  }
}

/* スライドイン --------------------------------------------------------------------　*/
.slideinLeft {
  transform: translate(-1140px, 0);
}
.slideinRight {
  transform: translate(1140px, 0); 
}
.slideinLeft.show {
  transform: translate(0, 0) !important;
}
.slideinRight.show {
  transform: translate(0, 0) !important;
}

/* services --------------------------------------------------------------------　*/
.sectionServices {
  border: 1px $sub-gray solid;
  border-radius: 3px;
  color: $sub-gray;
  height: 280px;
  overflow: hidden;
  padding: 20px 10px;
  margin-bottom: 20px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  &:hover {
    box-shadow: 0 4px 10px 4px rgba(240, 240, 240, 0.25);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
  }
  i {
    color: $main-blue;
    font-size: 3.3rem;
  }
  h3 {
    font-size: 1.8rem;
    margin: 20px 0;
  }
}

/* works --------------------------------------------------------------------　*/
.sectionWorks {
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
  img {
    border: 1px $sub-gray solid;
    object-fit: cover;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    &:hover {
      opacity: .6;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
#works h3 {
  font-size: 2.2rem;
  margin-bottom: 35px;
  margin-top: 10px;
}

/* contact --------------------------------------------------------------------　*/
#contact p {
  color: $sub-gray;
  margin-bottom: 20px;
}
.formBox {
  background-color: #333;
  border: 1px $sub-gray solid;
  font-size: 1.6rem;
  margin-bottom: 20px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  &:hover {
    box-shadow: 0 4px 10px 4px rgba(240, 240, 240, 0.25);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
  }
}
.btnForm {
  background-color: $main-blue;
  border: none;
  font-size: 1.6rem;
  width: 180px;
}

/* フッター --------------------------------------------------------------------　*/
footer {
  font-size: 2.2rem;
  padding: 35px 0;
  p {
    color: $main-blue;
  }
}
small {
  font-size: 1.4rem;
}

/* ページスクロール --------------------------------------------------------------------　*/
#pageTop {
  background: #d8d8d8;
  border-radius: 50%;
  bottom: 40px;
  color: #333;
  display: none;
  font-size: 4rem;
  height: 60px;
  line-height: 60px;
  opacity: .3;
  position: fixed;
  right: 40px;
  text-align: center;
  width: 60px;
}

/* タブレット --------------------------------------------------------------------　*/
@media (max-width: 992px) {
  
  .parallaxBg {
    display: none;
  }

  /* about --------------------------------------------------------------------　*/
  .statusText {
    padding-left: 30px;
  }
  .statusImg {
    padding-right: 0;
  }
  .skillsText {
    order: 2;
  }
  .skillsImg {
    order: 1;
    padding-left: 0;
  }

  /* services --------------------------------------------------------------------　*/
  .sectionServices {
    height: 280px;
    padding: 40px;
  }

  /* works --------------------------------------------------------------------　*/
  .sectionWorks {
    margin: 0 auto;
    max-width: 80%;
  }
  
}

/* スマホ --------------------------------------------------------------------　*/
@media (max-width: 576px) {
  
  html {
    font-size: 55%;
  }
  .siteLogo,
  .clearfix:before,
  .clearfix:after {
    display: none;
  }

  /* ヘッダー --------------------------------------------------------------------　*/
  .siteLogoSmall {
    display: block;
    position: fixed;                         /* bodyに対しての絶対位置指定 */
    left: 15px;
    top: 10px;
    z-index: 3;
  }

  /* ハンバーガーメニュー --------------------------------------------------------------------　*/
  .primaryNav {
    line-height: 18px;
  }
  /* トグルボタンのスタイルを指定 */
  .toggle {
    cursor: pointer;
    display: block;
    height: 42px;
    position: fixed;                         /* bodyに対しての絶対位置指定 */
    right: 10px;
    top: 6px;
    width: 42px;
    z-index: 3;
    span {
      border-bottom: solid 3px $main-blue;
      display: block;
      left: 6px;
      position: absolute;
      transition: .35s ease-in-out;			     /* 変化の速度を指定 */
      -webkit-transition: .35s ease-in-out;  /* 変化の速度を指定 */
      width: 30px;
      &:nth-child(1) {
        top: 9px;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        top: 27px;
      }
    }
    &.active span{
      &:nth-child(1) {
        transform: translateY(9px) rotate(-315deg);
        -webkit-transform: translateY(9px) rotate(-315deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(315deg);
        -webkit-transform: translateY(-9px) rotate(315deg);
      }      
    }
  }
  /* ナビメニューのスタイルを指定 */
  nav.NavMenu {
    background: rgba(29, 6, 6, 0.3);       /* 背景を白にする */
    position: fixed;                         /* 表示位置を固定 */
    right: 0;                                /* 表示位置を指定 */
    text-align: center;                      /* テキストを中央揃え */
    top: 50px;                               /* 表示位置を指定 */
    transform: translateX(100%);             /* ナビを右に隠す */
    transition: all 0.6s;                    /* アニメーションの時間を指定 */
    width: 30%;                              /* 全幅表示 */
    z-index: 2;                              /* 重ね順を変更 */
    ul {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      li {
        border-bottom: 1px dotted #333;
        padding: 0;
        width: 100%;
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;           /* 最後のメニュー項目のみ下線を消す */
        }
        a {
          display: block;                /* クリックできる領域を広げる */
          padding: 15px 0;
        }
      }
    }
    &.active {                           /* トグルボタンが押されたときに付与するクラス */
      transform: translateY(0%);
    }
  }

  /* Slideshow --------------------------------------------------------------------　*/
  .slideshow {
    display: none;
  }
  .slideshowSmall {
    display: block;
    height: 640px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    img {
      display: none;
      object-fit: cover;
      position: absolute;
    }
  }

  /* about --------------------------------------------------------------------　*/
  .textBox {
    margin-bottom: 40px;
    text-align: center;
  }
  .sectionAbout01 img,
  .sectionAbout02 img {
    height: 300px;
  }

  /* services --------------------------------------------------------------------　*/
  .sectionServices {
    height: 230px;
  }

  /* works --------------------------------------------------------------------　*/
  .sectionWorks {
    margin: 0 auto;
    max-width: 55%;
  }

  /* ページスクロール --------------------------------------------------------------------　*/
  #pageTop {
    bottom: 10px;
    font-size: 2.4rem;
    height: 45px;
    line-height: 45px;
    right: 10px;
    width: 45px;
  }

}
