@charset "UTF-8";

@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}

body {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  #container {
    background-blend-mode: overlay;
    background-color: rgb(0, 50, 0);
    background-image: url(../img/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    margin: 0 auto;
    padding: 20px;
    width: 960px;
    h1 {
      font-size: 40px;
      letter-spacing: 4px;
    }
    section {
      display: flex;
      height: 160px;
      text-align: left;
      h2 {
        display: inline-block;
        width: 94px;
      }
      ul {
        align-items: center;
        display: flex;
        list-style: none;
        li {
          line-height: 160px;
          width: 120px;
          img {
            vertical-align: middle;
            width: 100px;
          }
        }
      }
    }
    #btns {
      display: flex;
      margin: 30px;
      justify-content: center;
      .btn {
        background-color: orange;
        border-radius: 10px;
        box-shadow: 0 4px orangered;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
        user-select: none;
        width: 100px;
      }
      .btn:hover {
        opacity: .8;
      }
      .btn:active {
        box-shadow: none;
        margin-top: 4px;
      }
      #startBtn.inactive,
      #hitBtn.inactive,
      #stayBtn.inactive {
        opacity: .5;
      }
    }
    #result {
      font-size: 40px;
      animation:blink 1s ease-in-out infinite alternate;
    }
  }
}
